@model IEnumerable<MetaDataManager.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Album List</h2>

<p>
    <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>@Html.ActionLink("Create New", "Create", new { artistId = ViewBag.ArtistId })
    </button>
</p>

<table class="table table-hover">
    <tr>
        <th>
            <h4><span class="label label-default">@Html.DisplayNameFor(model => model.Name)</span></h4>
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Artist)
        </th>*@
        <th>
            <h4><span class="label label-default">@Html.DisplayNameFor(model => model.Tracks)</span></h4>
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a target="_blank" href="https://open.spotify.com/track/@item.Spotify_Id">@Html.DisplayFor(modelItem => item.Name)</a>
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Artist)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Tracks)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>*@
        <td>
            <button type="button" class="btn btn-default btn-font-black btn-sm">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>@Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </button>

            <button type="button" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>@Html.ActionLink("Details", "Details", new { id = item.Id })
            </button>

            <button type="button" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>@Html.ActionLink("Add Song", "AddSong", new { id = item.Id })
            </button>

            <button type="button" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>@Html.ActionLink("Delete", "Delete", new { id = item.Spotify_Id })
            </button>


</td>
    </tr>
}
</table>

<p>
    <button type="button" class="btn btn-default btn-font-black btn-sm">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>@Html.ActionLink("Back to Artist list", "Index", "Artists")
    </button>
</p>
