@model IEnumerable<MetaDataManager.Models.Artist>

@{
    ViewBag.Title = "Index";
}

<h2>Artists list</h2>

@*<br/>*@

<p>
    <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>@Html.ActionLink("Create New", "Create")
    </button>
</p>
<table class="table table-hover table-condensed">
    <tr>
        <th>
            <h4><span class="label label-default">@Html.DisplayNameFor(model => model.Name)</span></h4>
        </th>
        <th>
            <h4><span class="label label-default">@Html.DisplayNameFor(model => model.YearFormed)</span></h4>
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Website)
        </th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a target="_blank" href="https://open.spotify.com/artist/@item.Spotify_Id">@Html.DisplayFor(modelItem => item.Name)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearFormed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            <button type="button" class="btn btn-default btn-font-black btn-sm">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>@Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </button>

            <button type="button" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>@Html.ActionLink("Details", "Details", new { id = item.Id })
            </button>

            <button type="button" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>@Html.ActionLink("Add Album", "AddDiscography", new { id = item.Id })
            </button>

            <button type="button" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>@Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </button>
        </td>
    </tr>
}

</table>