@model IEnumerable<MetaDataManager.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>Song list</h2>

<p>
    <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>@Html.ActionLink("Create New", "Create", new { albumId = ViewBag.AlbumId })
    </button>
</p>
<table class="table table-hover">
    <tr>
        <th>
            <h4><span class="label label-default">@Html.DisplayNameFor(model => model.Title)</span></h4>
        </th>
        @*<th>
            <h4><span class="label label-default">@Html.DisplayNameFor(model => model.AlbumName)</span></h4>
        </th>*@
        @*<th>
            <h4><span class="label label-default">@Html.DisplayNameFor(model => model.Year)</span></h4>
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AlbumName)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>*@
        <td>
            <button type="button" class="btn btn-default btn-font-black btn-sm">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>@Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </button>

            <button type="button" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>@Html.ActionLink("Details", "Details", new { id = item.Id })
            </button>

            <button type="button" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>@Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </button>
        </td>
    </tr>
}

</table>
