@model IEnumerable<MetaDataManager.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>Song list</h2>

<p>
    <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>@Html.ActionLink("Create New", "Create", new { albumId = ViewBag.AlbumId })
    </button>
</p>

<table id="songList" class="table tablesorter" border="1">
    <thead>
        <tr>
            <th>Track No.</th>
            <th>Name</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Disc Number</th>
            <th>Duration</th>
            <th>Preview</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Track_Number)
                </td>
                <td>
                    <a target="_blank" href="https://open.spotify.com/track/@item.Spotify_Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    <a target="_blank" href="https://open.spotify.com/album/@item.Album_SpotId">@Html.DisplayFor(modelItem => item.Album_Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disc_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                @if (item.Preview_Url == null)
                {
                    <td>Preview not available in your country</td>
                }
                else
                {
                <td>
                    <audio controls>
                        <source src="@Html.DisplayFor(modelItem => item.Preview_Url)">
                    </audio>
                </td>
                }
            </tr>
        }
    </tbody>
</table>

<br/>

<button type="button" class="btn btn-default btn-font-black">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><a href="javascript:history.back()">Back to List</a>
</button>