@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="POST">

        <!--Artist Name Form Box-->
        <label for="ArtistName">Artist Name</label>
        <input type="text" id="ArtistName" name="ArtistName" placeholder=" Type an Artist's Name. " />
        
        <!--Song Name Form Box-->
        <label for="SongName">Song Name</label>
        <input type="text" id="SongName" name="SongName" placeholder=" Type a Song Name. " />
        <input type="submit" />
    </form>

    @if (ViewData["Songs"] != null)
    {
        <div class="row">
            Content:
            <ul>
                @foreach (var artist in (dynamic)ViewData["Songs"])
                {
                    <ul>
                        @foreach (var image in (dynamic)artist.Album.Images)
                        {
                            if (@image.Width == 64)
                            {
                                <li><img src="@image.Url"></li>
                            }
                        }
                    </ul>
                    <li><a target="_blank" href="https://open.spotify.com/artist/@artist.Artists[0].Id">@artist.Album.Name</a></li>
                }
            </ul>
        </div>
    }

    @if (ViewData["Artists"] != null)
    {
        <div class="row">
            Content:
            <ul>
                @foreach (var artist in (dynamic)ViewData["Artists"])
                {
                    <ul>
                        @foreach (var image in (dynamic)artist.Images)
                        {
                            if (@image.Width == 160)
                            {
                                <li><img src="@image.Url"></li>
                            }
                        }
                    </ul>
                    <li><a target="_blank" href="https://open.spotify.com/artist/@artist.Id">@artist.Name</a></li>
                }
            </ul>
        </div>
    }


</div>