@using PagedList.Mvc;
@model PagedList.IPagedList<searchArtist.Artists>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <br />
    <form method="POST">

        <!--Artist Name Form Box-->
        <div class="form-group">
            <label for="ArtistName">Search for an Artist</label>
            <input type="text" name="ArtistName" id="ArtistName" class="form-control" placeholder=" Search for an Artist">
            <br />
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    <form method="POST">
        <!--Song Name Form Box-->
        <div class="form-group">
            <label for="SongName">Search for Album</label>
            <input type="text" id="SongName" name="SongName" class="form-control" placeholder="Search for album" />
            <br />
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
</div>

@if (ViewData["Artists"] != null)
{

    <div class="table-responsive-md">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>

            @foreach (var artist in (dynamic)ViewData["Artists"])
            {
                <tr>
                    @foreach (var image in (dynamic)artist.Images)
                    {
                        if (@image.Width < 301 && @image.Width > 64)
                        {
                            <td><img height="150" width="150" src="@image.Url"></td>
                            <td><a target="_blank" href="https://open.spotify.com/artist/@artist.Id">@artist.Name</a></td>
                        }
                    }

                </tr>
            }


        </table>
     </div>
}

@if (ViewData["Songs"] != null)
{

    <div class="table-responsive-md">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>

            @foreach (var artist in (dynamic)ViewData["Songs"])
            {
                <tr>
                    @foreach (var image in (dynamic)artist.Album.Images)
                    {
                        if (@image.Width == 64)
                        {
                            <td><img height="100" width="100" src="@image.Url"></td>
                            <td><a target="_blank" href="https://open.spotify.com/artist/@artist.Artists[0].Id">@artist.Album.Name</a></td>
                            <td><button type="button" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>@Html.ActionLink("Add", "Add", new { albumId = artist.Album.Id, songId = artist.Id })
                                </button></td>
                        }
                    }

                </tr>
            }


        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(PagedList.IPagedList<ViewData["Artists"]>, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
}